<!DOCTYPE html>
<html>
<head>
    <title>Employee Management App</title>
</head>
<body>

    <h1>Employee Management App</h1>

    <form action="/add" method="post">

        <p>
            <input
                type="text"
                name="name"
                placeholder="Employee Name"
                required>
        </p>

        <p>
            <input
                type="email"
                name="email"
                placeholder="Employee Email ID"
                required>
        </p>

        <p>
            <input
                type="text"
                name="department"
                placeholder="Department"
                required>
        </p>

        <button type="submit">
            Add Employee
        </button>

    </form>

</body>
</html>
